@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Montserrat:wght@600&display=swap");
:root {
  --cor-destaque: #6da792;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

nav {
  gap: 80px;
  display: flex;
  overflow: hidden;
  background-color: #333;
  align-items: center;
  height: 14.5vh;
  justify-content: flex-start;
  width: 100vw;
}
nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: "roboto", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
nav a:hover {
  background-color: #ddd;
  color: black;
}
.img-logo {
  height: 150px;
  width: 150px;
}
#esfoliante {
  width: 100vw;
  /* height: 100vh;  */
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(227deg, #ccc2b4 0%, #ffff 62%);
}
h1 {
  padding-top: 11vh;
  padding-left: 1vw;
  padding-bottom: 0;
  margin: 0;
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}
.destaque {
  color: var(--cor-destaque);
  font-size: 40px;
  padding-top: 1vh;
}
.destaque-2 {
  font-size: 30px;
  color: var(--cor-destaque);
}
.p-destaque {
  font-size: 30px;
  margin-bottom: 0;
  align-self: center;
}
.p-destaque2 {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  text-align: right;
}
.p-destaque-item2 {
  font-size: 25px;
  color: var(--cor-destaque);
  margin: 0;
}
.p-destaque2-item2 {
  margin: 0;
  text-align: justify;
  font-size: 29px;
}
h2 {
  padding-left: 1vw;
  padding-bottom: 0;
  margin: 0;
  font-family: "roboto", sans-serif;
  font-weight: 200;
}
.title {
  display: flex;
}
.icon {
  height: 37vh;
  padding-left: 6vw;
}
.itens {
  display: flex;
  flex-direction: column;
}
.item-1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  padding: 0 4vw 0 15vw;
}
.item-2 {
  position: relative;
  bottom: 135px;
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 22px;
}
.esfoliacao1 {
  height: 60vh;
  border-radius: 65px;
}
.sabonete1 {
  height: 60vh;
  border-radius: 65px;
}
.esfoliacao2 {
  height: 60vh;
  border-radius: 65px;
}
.txt-esfoliacao {
  display: flex;
  flex-direction: column;
}
.txt-sabonete {
  display: flex;
  flex-direction: column;
}
#diferencial {
  background: linear-gradient(287deg, #ffff 38%, #ccc2b4 88%);
}
.container-txt {
  padding-top: 130px;
  text-align: end;
  padding-right: 3vw;
}
.content-subtitle {
  margin: 5px;
  color: var(--cor-destaque);
  font-size: 22px;
  font-weight: 600;
}
.content-text {
  width: 56vw;
  margin: 5px;
  font-size: 20px;
  padding-left: 39vw;
}

.content-title {
  margin: 5px;
  font-size: 50px;
}
.container-2 {
  display: flex;
  gap: 153px;
  padding-top: 30px;
}
.container-img {
  padding: 84px 20px 84px 50px;
  height: 84vh;
  width: 37vw;
}
.content-img {
  border-radius: 65px;
  height: 84vh;
  width: 37vw;
}
.container-txt2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  overflow-x: hidden;
}
.content-text2 {
  text-align: justify;
  width: 29vw;
  font-size: 20px;
  font-weight: 600;
}
.content-img2 {
  width: 4vw;
  height: 44vh;
}
#sabonete {
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(227deg, #ccc2b4 0%, #ffff 62%);
}
.container-sabonete {
  display: flex;
}
.img-destaque {
  height: 375px;
}
.img-destaque2 {
  height: 375px;
}
.sabonte-item-1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  padding: 50vh 4vw 0 15vw;
}
.p-destaque-sabonete {
  text-align: right;
  font-size: 30px;
  margin-bottom: 0;
  align-self: end;
}
.p-destaque2-sabonete {
  width: 20vw;
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  text-align: end;
}
.container-sabonete2 {
  padding-top: 200px;
  gap: 92px;
  display: flex;
}

.text-sabonete {
  text-align: justify;
  font-size: 35px;
}
.container-text-sabonete {
  padding-left: 100px;
  width: 50vw;
}
#gel-e-argila{
    align-items: center;
    padding: 70px 90px;
    background: linear-gradient(287deg, #ffff 38%, #ccc2b4 88%);
    display: flex;
    gap: 145px;
} 

.img-gel-argila{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    gap: 130px;
}
.texts-container{
    display: flex;
    flex-direction: column;  
}
.texts{
    font-size: 22px;
}
.img-gel-argila-content{
    height: 322px;
}
@media screen and (max-width: 900px) {
  nav {
    height: 10.5vh;
  }

  nav a {
    font-size: 0;
    padding: 0;
  }

  .img-logo {
    height: 120px;
    width: 120px;
    padding-left: 39vw;
  }

  h1 {
    font-size: 30px;
    padding-top: 5vh;
  }

  .destaque {
    font-size: 24px;
  }

  .destaque-2 {
    font-size: 20px;
  }

  .p-destaque,
  .p-destaque2 {
    font-size: 18px;
    text-align: right;
  }

  .p-destaque-item2 {
    font-size: 16px;
    text-align: justify;
  }
  .p-destaque2-item2 {
    margin: 0;
    text-align: left;
    font-size: 16px;
  }

  .icon {
    height: 15vh;
    padding-left: 1vw;
    padding-top: 31px;
  }
  .itens {
    padding-bottom: 33px;
    display: flex;
    flex-direction: column;
    gap: 81px;
  }
  .item-1,
  .item-2 {
    top: 47px;
    position: relative;
    display: flex;
    padding: 0 2vw;
    gap: 30px;
  }

  .esfoliacao1 {
    height: 22vh;
    border-radius: 30px;
  }
  .esfoliacao2 {
    height: 22vh;
    border-radius: 30px;
    position: relative;
  }

  .txt-esfoliacao {
    display: block;
  }

  .menu-btn {
    font-size: 32px;
    cursor: pointer;
    position: relative;
    top: -58px;
    left: 15px;
    z-index: 1;
    color: white;
  }
  #mobile-content {
    height: 0;
    width: 0;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #f2f2f2;
    display: block;
    transition: 0.3s;
    font-size: 18px;
  }

  .sidenav a:hover {
    color: #ddd;
    background-color: #ddd;
    color: black;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .main-content {
    transition: margin-left 0.5s;
    padding: 16px;
  }
  .container-txt {
    padding-top: 20px;
    text-align: end;
    padding-right: 5vw;
  }

  .content-title {
    font-size: 30px;
  }

  .content-subtitle {
    font-size: 15px;
  }

  .content-text {
    text-align: justify;
    font-size: 14px;
    width: 80vw;
    padding-left: 52px;
  }
  .content-text2 {
    font-size: 16px;
    width: 40vw;
  }

  .container-2 {
    display: flex;
    gap: 0px;
  }
  .container-img {
    padding: 84px 20px;
    height: 30vh;
    width: 40vw;
  }
  .content-img {
    height: 30vh;
    width: 40vw;
    border-radius: 32px;
    overflow: hidden;
  }

  .container-txt2 {
    padding: 0px 20px;
    align-items: center;
  }

  .content-img2 {
    width: 50px;
    height: auto;
  }
  .txt-sabonete {
    display: block;
    left: 30px;
    position: relative;
  }

  .sabonte-item-1 {
    top: 126px;
    position: relative;
    width: 43vw;
    padding: 18px 5vw;
  }
  .p-destaque-sabonete {
    font-size: 18px;
  }
  .p-destaque2-sabonete {
    width: 90vw;
    font-size: 13px;
    font-weight: 400;
  }

  .container-text-sabonete {
    padding-left: 10px;
    /* width: 100%; Usa toda a largura da tela */
  }

  .text-sabonete {
    font-size: 22px;
  }

  .img-destaque {
    height: 40%;
    width: 50%;
  }
  .img-destaque2 {
    top: 171px;
    position: relative;
    height: 40%;
    width: 50%;
  }

  .container-sabonete2 {
    gap: 0;
  }
  .sabonete1 {
    height: 20vh;
    border-radius: 30px;
  }

  #gel-e-argila {
    align-items: center;
    padding: 40px 15px;
    background: linear-gradient(287deg, #ffff 38%, #ccc2b4 88%);
    display: flex;
    gap:0;
}

.img-gel-argila {
    display: flex;
    flex-direction: column;
    padding-top: 50px; /* Reduzido para telas menores */
    gap:58px;
}

.texts-container {
    display: flex;
    flex-direction: column;  
    gap: 10px;
    position: relative;
        top: 27px;
}

.texts {
    font-size: 16px; 
}

.img-gel-argila-content {
    height: 177px;
}
}
